body {font-family: 'Roboto', sans-serif;
    color: #434455; background-color: #FFFFFF;}
.h-logo {color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

    .h-logo_one {color: var(--IRIS, #2E2F42
        );
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;}
    
a {text-decoration: none;}
ul{list-style: none;}
.h-one {color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;}

.btn_h-one{color: var(--WHITE, #FFF);
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor:pointer;}
    .btn_h-one:hover { background-color: #404bbf;}
    .btn_h-one:focus { background-color: #404bbf;}
    

.h-two{color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;}

/**.visually-hidden {
    
  } */

.header-menu {color: var(--NAVY-BLUE, #2E2F42);

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;}
    .header-menu:hover { color: #404bbf;} 
    .header-menu:focus { color: #404bbf;}   

    .contact {color: var(--SLATE, #434455);

        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;}
.contact:hover { color: #404bbf;}
.contact:focus { color: #404bbf;}
.section-one { background-color: #2e2f42}

.h-drei-section-two {color: var(--NAVY-BLUE, #2E2F42);

    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}

.section-drei {background-color: #F4F4FD}

.section-drei_list {background-color: #FFFFFF }

.h-drei-section-drei {color: var(--NAVY-BLUE, #2E2F42);

    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}
    
.main_font {color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5; 
    letter-spacing: 0.02em;}

    .p-section-drei-list {color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.5; 
        letter-spacing: 0.02em;}

    .p-section-fier-list {color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.5; 
        letter-spacing: 0.02em;}

    .footer {background-color: #2e2f42}

    .f-logo {color: var(--IRIS, #4D5AE5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;}
    
        .f-logo_one {color: var(--CLOUD, #F4F4FD);
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;}

            .footer-text{color: var(--CLOUD, #F4F4FD);
                font-family: "Roboto";
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.02em;}